@model MvcProjeKampi.Models.ImageViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="/Themes/Profile_theme/style.css" />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery-3.6.0.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Profile</title>
</head>
<body id="background_img">
    <form name="uyelik" method="post">
        <div class="container rounded bg-white mt-5 mb-5" id="container">
            @using (Html.BeginForm("AddImage", "Banner", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                <div class="row" id="row">
                    <div class="col-md-4 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                            <img id="pofile" class="rounded-circle mt-5" src="/Themes/Profile_theme/img/writer_default.png">
                            <span class="font-weight-bold">@*Yazar Resimini Seçiniz*@</span>
                            <!-- <span class="text-black-50">amelly12@bbb.com</span><span>sdfsdfsdf </span> -->
                        </div>                        
                    </div>
                    <div class="col-md-8 border-right">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Yazar Kayıt</h4>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Adı</label><input type="text" class="form-control" placeholder="Adınızı yazınız" value=""></div>
                                <div class="col-md-6"><label class="labels">Soyadı</label><input type="text" class="form-control" value="" placeholder="Soyadınızı yazınız"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12"><label class="labels">Mail Adresiniz</label><input type="text" class="form-control" placeholder="Mail adrsinizi yazınız" value=""></div>
                                <div class="col-md-12"><label class="labels">Ünvan</label><input type="text" class="form-control" placeholder="Ünvanınızı yazınız" value=""></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12"><label class="labels">Yazar Hakkında</label><input type="text" class="form-control" placeholder="Hakkında" value=""></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <label class="labels">Parola</label>
                                    <input name="parola" type="password" class="form-control" placeholder="********" value="">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <label class="labels">Parola Tekrar</label>
                                    <input name="parola_tekrar" type="password" class="form-control" placeholder="********" value="">
                                </div>
                            </div>
                            <div class="mt-4 text-center"><button class="btn btn-primary profile-button" type="button" onclick="kontrol();">Kaydet</button></div>
                            <div class="mt-3 text-center"><span><a href="/Home/HomePage">Ana Sayfaya Dön</a></span></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        </div>
        </div>
    </form>

    <script>
        function kontrol() {
            var form = self.document.uyelik
            if (form.parola.value == form.parola_tekrar.value && form.parola.value.length > 7) {
                form.submit();
            } else {
                alert('İki Parola Uyuşmuyor yada Şifreniz 8 Karakterden Az');
            }
        }
    </script>

    <script>
        $('#yukle').click(function () {
            (async () => {
                const { value: file } = await Swal.fire({
                    title: 'Select image',
                    input: 'file',
                    inputAttributes: {
                        'accept': 'image/*',
                        'aria-label': 'Upload your profile picture'
                    }
                })
                if (file) {
                    const reader = new FileReader()
                    reader.onload = (e) => {
                        Swal.fire({
                            title: 'Your uploaded picture',
                            imageUrl: e.target.result,
                            imageAlt: 'The uploaded picture'
                        })
                    }
                    reader.readAsDataURL(file)
                }
            })()
        })
    </script>
</body>
</html>
