@using EntityLayer.Concreate
@model List<Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<br />
<h3 style="text-align:center;" class="alert alert-secondary">Admin Kullanıcılar Sayfası</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı Mail</th>
        <th>Yetki</th>
        <th>Status</th>
        <th>Pasif Yap</th>
        <th>Admin Güncelleme</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AdminId</th>
            <td>@item.AdminUserName</td>
            <td>@item.Role</td>
            <td>Aktif</td>
            <td><a href="/Category/DeleteCategory/@item.AdminId" class="btn btn-danger">Pasif Yap</a></td>
            <td><a href="/Authorization/EditAdmin/@item.AdminId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Authorization/AddAdmin" class="btn btn-info"> Yeni Admin Tanımla</a>