@model EntityLayer.Concreate.Content
@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2 class="alert alert-secondary"style="text-align:center;">Başlığa İçerik Girişi</h2>

@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
    <div class="form-group">
        <input type="hidden" name="HeadingID" value="@ViewBag.d" />
        @Html.Label("İçeriğinizi Yazınız")
        @Html.TextAreaFor(x => x.ContentValue, 10, 30, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ContentValue, null, new { @class = "text-danger" })
        <br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}