<button class="btn btn-primary" data-toggle="modal" data-target="#modal_1">
    Yeni Hakkımızda Yazı Girişi
</button>

<div class="modal" id="modal_1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımızda Yazı Metin Girişi</h2>
            </div>
            <form method="post" action="/About/AddAbout/">
                <div class="modal-body">
                    <label>Hakkımda Başlık</label>
                    <input type="text" name="AboutTitle" class="form-control" />
                    <br />
                    <label>Hakkımda Metin</label>
                    <input type="text" name="AboutDetails" class="form-control" />
                    <br />
                    <button class="btn btn-info">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
